.main {
  background-image: url('../../../assets/bg.jpeg');
  background-repeat: repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .right {
    border-radius: 5px;
    margin-right: 10%;
    width: 470px;
    height: 420px;
    background: #ffffff;
    // background: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    .input {
      height: 40px;
    }
  }
}

.loginTitle {
  color: #1785ff;
  font-size: 30px;
  font-weight: 600;
}

.loginItem {
  margin-top: 24px;
}

.loginItemVer {
  margin-top: 24px;
  display: flex;
  display: flex;
  align-items: center;
  position: relative;

  .codeAgain {
    position: absolute;
    right: 110px;
    top: 20;
  }
  .verSpan {
    width: 10px;
    color: gray;
  }
}

.loginBtn {
  width: 100%;
  margin-top: 24px;
  height: 40px;
}

.configEnter {
  margin-top: 12px;
  text-align: right;
  cursor: pointer;
  // color: #f5f5f5;
}

.modalInput {
  height: 40px;
  margin-top: 12px;
}

.globalCcnfig {
  position: absolute;
  z-index: 999999;
  width: 40px;
  height: 40px;
  // background: red;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  padding-top: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
  pointer-events: auto;
}

.settringImg {
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.menu {
  pointer-events: auto;
  width: 100%;
  .menuItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    color: #919191;
  }
  .menuItem:hover {
    color: #1785ff;
  }
}

.logOffModal {
  .warnningDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .logOffModalIcon {
    width: 18px;
    height: 18px;
  }

  .footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
}

.errorTip {
  color: #ff220e;
  font-size: 12px;
  margin-left: 60px;
  margin-top: 12px;
}

.logOffModalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    width: 70px;
  }
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.serviceConfigItem {
  pointer-events: auto;
  display: flex;
  align-items: center;
  height: 40px;
  label {
    width: 110px;
  }
  display: flex;
}

.serviceConfigItemCus {
  width: 55px;
}

.serviceConfigLock {
  width: 100px;
  pointer-events: auto;
}
