/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

#root {
  width: 100%;
}
body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  background: #2c303a;
  /* electron关于无边框窗口无法拖拽移动以及点击事件失效的问题 https://blog.51cto.com/u_14524868/3172506 */
  -webkit-app-region: drag;
  margin: 0;
}

li {
  list-style: none;
}
.serviceWrapConfig {
  pointer-events: auto;
}

select {
  pointer-events: auto;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

.animate {
  animation: bounce;
  animation-duration: 2s;
}

.none {
  display: none;
}
